#header .text {
  width: 90%;
}
#header .buttons button {
  display: block;
  padding: 0.6rem 8rem !important;
}
#header .button-glow {
  box-shadow: none;
}
.container {
  max-width: 390px;
}
#footer .footer-container{
grid-template-columns: 1fr;
}
#footer .footer-container section {
    text-align: center;
}
