/* header */
#header .text {
  width: 90%;
}

#header .logo {
  top: 1.5rem;
}

#header .button {
  display: block;
  padding: 0.4rem 7rem !important;
}

#header .button-glow {
  box-shadow: none;
}

/* Jobs Section */
#jobs-section .jobs-container {
  grid-template-columns: 1fr;
}

/* End of Jobs Section */


/* our offer */
#our-offer {
  margin-top: 2.5rem;
}

#our-offer .grid {
  grid-template-columns: 1fr;
  gap: 2rem;

}

#our-offer .grid .card {
  padding: 0 3rem;
  gap: 0.2rem;

}

#our-offer .grid .card p {
  font-size: 10px;
  line-height: 1.2rem;
}

#our-offer .grid .card h4 {
  font-weight: 400;
}

/* react */
#react-native .grid {
  display: grid;
  grid-template-columns: 1fr;
}

#react-native .grid>*:last-child {
  justify-content: center;
}

/*subscribe*/
#subscribe {
  grid-template-columns: 1fr;

}

/*job description */
#job-description .text-container .title {
  display: block;
  justify-content: space-between;
}

#job-description .text-container {
  text-align: center;
  padding: 0 4rem;
}

#job-description .text-list {
  list-style: none;
}

#job-description .apply-btn {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.8rem;
}

/*form*/
#application-form {
  display: grid;

  grid-template-columns: auto;
}

#application-form .form-section {
  text-align: center;

}

#application-form .form-group {
  text-align: center;
  display: grid;

  grid-template-columns: 1fr;
}

#application-form input {
  border: none;
  border-bottom: 0.5px solid #3B3B3B;
}

#cv {
  border: 1px solid #3B3B3B;
}

#application-form .required {
  display: none;
}

/*end of form*/
/*similar offers*/
#similar-offers .row {
  grid-template-columns: 1fr;
  justify-content: center;
}

#similar-offers .job-avatar {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

#similar-offers .job-avatar>:first-child {
  margin: auto;
}

#similar-offers .location,
#similar-offers .level,
#similar-offers .department {
  display: grid;
  justify-content: center;
}
/*Jobs Section*/
#jobs-section .category{
  padding: 0.25rem 1.5rem;
}
/*Subscribe*/
#subscribe {
  background: url(/assets/img/header-img.png) no-repeat center center/cover;
  background-size: cover;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr;
}

#subscribe .letter {
  display: flex;
  justify-content: center;
}

#subscribe .user-input p {
  text-align: center;
  width: 80%;
}

#subscribe .user-input input {
  width: 80%;
}

#subscribe .letter img {
  display: inherit;
  /* width: 50%; */
}

/*end of subscribe*/
/* footer */
#footer .footer-container {
  grid-template-columns: 1fr;
}

#footer .footer-container>*:last-child {
  display: none;
}

#footer .footer-container section {
  text-align: center;
}

.copyright-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}