/* header */
#header .text {
  width: 90%;
}

#header .buttons button {
  display: block;
  padding: 0.6rem 8rem !important;
}

#header .button-glow {
  box-shadow: none;
}

.container {
  max-width: 390px;
}

/* our offer */
#our-offer {
  margin-top: 2.5rem;
}

#our-offer .grid {
  grid-template-columns: 1fr;
  gap: 2rem;

}

#our-offer .grid .card {
  padding: 0 3rem;
  gap: 0.2rem;

}

#our-offer .grid .card p {
  font-size: 10px;
  line-height: 1.2rem;
}

#our-offer .grid .card h4 {
  font-weight: 400;
}

/* react */
#react-native .grid {
  display: grid;
  grid-template-columns: 1fr;
}

#react-native .grid>*:last-child {
  justify-content: center;
}

/*subscribe*/
#subscribe {
  grid-template-columns: 1fr;

}

/*job description */
#job-description .text-container .title {
  display: block;
  justify-content: space-between;
}

#job-description .text-container {
  text-align: center;
  padding: 0 4rem;
}

#job-description .text-list {
  list-style: none;
}

#job-description .apply-btn {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 0.8rem;
}

/* footer */
#footer .footer-container {
  grid-template-columns: 1fr;
}

#footer .footer-container section {
  text-align: center;
}

.copyright-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}