* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* html{
    scroll-behavior: smooth;
} */
body {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* utilites */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 2rem 2rem;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}
.ghost{
    display: none !important; 
}
/* header start */
#header {
    background: url('/assets/img/header-img.png') no-repeat center center/cover;
    position: relative;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header .logo {
    position: absolute;
    top: 3rem;
}

#header .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    position: relative;
}

#header .text {

    align-self: center;
    color: #FFFFFF;
    width: 70%;
    margin: 1rem;
}

#header .text h1 {
    font-weight: 700;
}

#header .text p {
    padding-top: 0.5rem;
    font-weight: 400;
}

#header .button {

    border: 1px solid #00FFFF;
    border-radius: 41px;
    background-color: transparent;
    display: inline-block;
    padding: 0.6rem 4rem;
    color: #00FFFF;
    margin: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

#header .button:hover {
    background-color: #00FFFF;
    color: #001C55;
}

#header .button-glow {
    box-shadow: 2px 1px 15px 0px #0ff;
}

/* header end */

/*React*/
#react-native {
    margin-top: 4rem;
}

#react-native h2 {
    text-align: center;
    font-weight: 700;
}

#react-native .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 2rem;
}

#react-native .grid .grid-item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#react-native .last-item {
    display: grid;
    align-items: center;
}

/* Jobs Section */
#jobs-section .jobs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

#jobs-section .job-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#jobs-section .job-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

#jobs-section .filter-card {
    background: #3B3B3B33;
    border: none;
    cursor: pointer;
}
#jobs-section .filter-card:hover {
    background: #82828233;

}
#jobs-section .apply-btn {
    background-color: #3B3B3B;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 2rem;
    padding: 0.5rem 5rem;
    text-align: center;
}
#jobs-section .active {
    background-color: #3B3B3B;
    color: #FFFFFF;
}
#jobs-section .active:hover {
    color: #3B3B3B;
}
    #jobs-section .apply-btn:hover {
    background-color: #595757;
}

#jobs-section .meta-info {
    display: flex;
    justify-content: space-between;
}

#jobs-section .text-block {
    padding: 2rem 1rem;
}

#jobs-section .text-block h3 {
    padding: 1rem;
}

#jobs-section .spacetime {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

}

#jobs-section .info-group {
    display: flex;
    gap: 0.5rem;
    font-size: small;
}

#jobs-section .long-time-ago {
    padding: 0.5rem;
}

#jobs-section .category {
    padding: 0.5rem 2.5rem;
    font-size: 1rem;
    text-align: center;
}

#jobs-section .front-end {
    background: #00FFFF;

}

#jobs-section .blockchain {
    background: #A4FF84;

}

#jobs-section .back-end {
    background: #C1A4FF;

}

#jobs-section .office {
    background: #C1C1C1;
}

#jobs-section .all-jobs {
    text-align: center;
    text-decoration: underline;
    margin-top: 2rem;
    cursor: pointer;
}
#jobs-section .circles{
display: none;
}
/* End of Jobs Section */
/* Offer section */
#our-offer {
    margin-top: 5rem;
}

#our-offer h2 {
    text-align: center;
}

#our-offer .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4rem;
}

#our-offer .grid .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#our-offer .grid .card h4 {
    font-weight: 500;
}

#our-offer .grid .card p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.7rem;
}

/* end of offer section */

/*job-description*/
#job-description .text-container {
    line-height: 1.6rem;
    max-width: 1000px;
    margin: auto;
    padding: 1rem 2rem;
}

#job-description .text-container .title {
    display: flex;
    justify-content: space-between;
}

#job-description .text-container h2 {
    color: #3C3C3C;
    font-weight: 700;
    padding: 1rem 0;
    font-size: 2rem;
}

#job-description .text-container h3 {
    color: #3C3C3C;
    font-weight: 400;
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

#job-description .text-list {
    list-style: disc;
}

#job-description .text-list li {
    padding-top: 1rem;
}

#job-description .apply-btn {
    margin-top: 7rem;
    padding: 0.5rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    background-color: #3B3B3B;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
}

#job-description .apply-btn:hover {
    background-color: #595757;
}

/*form*/
#application-form .form-container {
    width: 50%;
}

#application-form div {
    margin-top: 1rem;
}

#application-form .form-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#application-form input {
    width: 100%;
    border: 0.5px solid #3B3B3B;
    padding: 0.3rem;
}

#application-form textarea {
    width: 100%;
    height: 12rem;
    resize: none;
}
#application-form .radioSection{
  width: 90%;
}

#application-form .radio-group{
  display: grid;
  grid-template-columns:2rem 2rem;
  align-items: center;
  }
  #application-form  .resume-section{
      margin-top: 3rem;
  }

#application-form  .input-file-btn {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: fit-content;
border: 1px solid #001C55;
}
#application-form .file-input{
    opacity: 0;
}

  #application-form .btn-holder{
      display: flex;
      justify-content: center;

  }
  #application-form .form-title{
      padding: 1rem;
  }
#application-form .form-btn {
    background-color: #3B3B3B;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 2rem;
    padding: 0.5rem 7rem;
 
}

#application-form .form-btn:hover {
    background-color: #595757;
}

#application-form .required {
    color: red;
    padding: 2px;
}

/*end of form*/


#subscribe {
    background: url(/assets/img/leterandvectors.png), url(/assets/img/header-img.png) no-repeat center center/cover;
    background-size: cover;
    height: 70vh;
    display: flex;
}

#subscribe .letter {
    display: grid;
    align-items: center;
    justify-content: center;
}

#subscribe .letter img {
    display: none;
    max-width: 35%;
}

#subscribe .user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: #FFFFFF;

}

#subscribe .user-input p {
    font-weight: 700;
    font-size: 1.5rem;
    width: 40%;
}

#subscribe .user-input input {
    background: transparent;
    width: 40%;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 1rem;
    background: url('/assets/img/arrow.png') center right no-repeat ;

}

#subscribe .user-input input::placeholder {
    color: #FFFFFF;
}

#subscribe .user-input input:focus {
    outline: none;
    color: #FFFFFF;
}

/* similar offers */
#similar-offers {
    display: grid;
}

#similar-offers .title-top {
    margin: 2rem 0;
}

#similar-offers .job-table>*:nth-child(even) {
    background-color: #336FAA26;
}

#similar-offers .row {
    margin-top: 1rem;
    padding: 1rem;
    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr;
    /* box-shadow:1px 1px 5px 0px  #7C7C7C; */
    box-shadow: 0px 0px 13px 1px rgba(124, 124, 124, 0.22);
    gap: 1rem;

}

#similar-offers .job-avatar {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#similar-offers .location,
#similar-offers .level,
#similar-offers .department {
    display: grid;
    align-items: center;
}

#similar-offers .webflow-img {
    background: url('/assets/img/similarOffers/webflow.png') no-repeat center;
    background-color: #336FAA;
    width: 80px;
    height: 80px;

}

#similar-offers .js-img {
    background: url('/assets/img/similarOffers/javascript.png') no-repeat center;
    background-color: #336FAA;
    width: 80px;
    height: 80px;
}
#similar-offers .php-img {
    background: url('/assets/img/similarOffers/php.png') no-repeat center;
    background-color: #336FAA;
    width: 80px;
    height: 80px;
}
#similar-offers .all-jobs {
    text-align: center;
    text-decoration: underline;
    margin-top: 2rem;
    cursor: pointer;
}

/* footer start */
#footer {
    margin-top: 5rem;
}

#footer .footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1.5rem;
}


#footer .footer-container>*:first-child {
    padding: 0 3rem;
}

#footer .footer-container section div {
    padding-top: 1rem;
}

#footer .footer-container .logo-info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}

.copyright-info {
    border-top: 1px solid #001C55;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 80%;
    overflow: hidden;
    text-align: center;
}

/* footer-end */