*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    color: inherit;
}
/* utilites */
.container{
    
}
/* HEADER */
#header{
    background: url('/assets/img/header-img.png');   
    position: relative;   
    height: 64vh; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
#header .logo{
    position: absolute;
    top: 1rem
}
#header .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    position: relative;
}
#header .text{

    align-self: center;
    color: #FFFFFF;
    width: 70%;
    margin: 1rem;

}
/*PHONE*/
/* @media(max-width:700px){
    #header .text{
        width: 90%;
    }
    #header .buttons button{
    display: block;
    padding: 0.6rem 8rem !important;

}} */

#header .text h1{
    font-weight: 700;
}
#header .text p{
    font-weight: 400;
}
#header .buttons button{
    
    border: 1px solid #00FFFF;
    border-radius: 41px;
    background-color: transparent;
    padding: 0.6rem 4rem;
    color: #00FFFF;
    margin: 1rem;
    font-weight: 500;
    font-size: 1rem;
}
#header .buttons button:hover{
  background-color: #00FFFF;
  color: #001C55;  
}
#header .button-glow{
box-shadow: 2px 1px 15px 0px #0ff;
}